
.error {
    color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F7;
}

.error_active {
    display: flex;
}

.error__image {
    margin: 80px auto 24px;
}

.error__title {
    max-width: 700px;
    text-align: center;
    font-family: 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.625rem;
    line-height: 1.15;
    margin: 0 auto 80px;
}