

.about {
    display: flex;
}

.about__avatar {
    margin: 80px 56px 80px 7.2%;
}

.about__info {
    margin: 131px 0 80px;
    width: 42%;
}

.about__title {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.15;
    margin: 0 0 24px;
}

.about_describe {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.33;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .about__avatar {
        width: 232px;
        height: 232px;
        margin: 61px 32px 61px 5.2%;
    }

    .about__info {
        margin: 40px 0 72px;
        width: 55%;
    }

    .about__title {
        font-size: 1.875rem;
        line-height: 1.33;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .about {
        flex-direction: column;
    }

    .about__avatar {
        width: 272px;
        height: 272px;
        margin: 32px 24px 24px;
    }

    .about__info {
        margin: 0 auto 80px;
        width: 90%;
    }
}