
.article {
    background-color: white;
    color: black;
    position: relative;
    border-radius: 16px;
    width: 400px;
    height: 576px;
    margin: 0 auto;
    cursor: pointer;
}

.article__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.article__image {
    border-radius: 16px 16px 0 0;
    height: 272px;
    margin: 0 0 20px;
}

.article__date {
    margin: 0 0 12px 24px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.33;
    color: #B6BCBF;
}

.article__title {
    margin: 0 0 16px 24px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.625rem;
    line-height: 1.15;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__text {
    margin: 0 0 18px 24px;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.375;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__source {
    margin: auto 0 24px 24px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

.article__icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.article__icon-delete {
    background-image: url(../../images/delete_icon.svg);
}

.article__icon-delete:hover {
    background-image: url(../../images/delete_icon_hover.svg);
}

.article__icon-save {
    background-image: url(../../images/bookmark_normal.svg);
}

.article__icon-save:hover {
    background-image: url(../../images/bookmark_hover.svg);
}

.article__icon-save_active {
    background-image: url(../../images/bookmark_marked.svg);
}

.article__icon-save_active:hover {
    background-image: url(../../images/bookmark_marked.svg);
}

.article__icon-alert {
    height: 40px;
    position: absolute;
    top: 24px;
    right: 69px;
    background-color: white;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
}

.article__icon-alert_visible {
    display: flex;
}

.article__alert {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.2;
    margin: auto 11px;
}

.article__tag {
    height: 40px;
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__tag-title {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.71;
    margin: auto 14px;
}

.article__tag_hidden {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .article {
        width: 224px;
        height: 420px;
    }

    .article__image {
        height: 150px;
        margin: 0 0 16px;
    }

    .article__date {
        margin-left: 16px;
    }

    .article__title {
        margin: 0 0 10px 16px;
        font-size: 1.375rem;
        line-height: 1.09;
        width: 85%;
        -webkit-line-clamp: 3;
    }
    
    .article__text {
        margin: 0 0 12px 16px;
        width: 85%;
        -webkit-line-clamp: 4;
    }
    
    .article__source {
        margin: 0 0 16px 16px;
    }
    
    .article__icon {
        top: 8px;
        right: 8px;
    }

    .article__icon-alert {
        display: none;
    }
    
    .article__tag {
        top: 8px;
        left: 8px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .article {
        width: 288px;
        height: 446px;
    }
    
    .article__image {
        height: 196px;
        margin: 0 0 16px;
    }
    
    .article__date {
        margin: 0 0 10px 16px;
    }
    
    .article__title {
        margin: 0 0 10px 16px;
    }
    
    .article__text {
        margin: 0 0 8px 16px;
    }
    
    .article__source {
        margin: 0 0 17px 16px;
    }
    
    .article__icon {
        top: 16px;
        right: 16px;
    }
    
    .article__icon-alert {
        display: none;
    }
    
    .article__tag {
        top: 16px;
        left: 16px;
    }
}